@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start ms-auto">
                <img class="logo" src="~/img/logomichi.png" alt="loguito" width="80">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="@Url.Action("Index", "Gato")" class="nav-link px-2 link-secondary">Inicio</a></li>
                <li><a asp-controller="Home" asp-action="Colabora" class="nav-link px-2 link-dark">Colabora</a></li>
                <li><a asp-controller="Home" asp-action="SobreNosotros" class="nav-link px-2 link-dark">Sobre nosotros</a></li>
            </ul>
            @if (@Accessor.HttpContext.Session.GetString("NombreEmail") == null)
            {
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/img/usuarionoregistrado.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" asp-controller="Usuario" asp-action="RegistroView">Registrarse</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-controller="Usuario" asp-action="IniciarSesionView">Iniciar sesión</a></li>
                    </ul>
                </div>
            }
            else
            {
                <div class="d-flex aling-items-end ms-auto">
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/img/usuarionoregistrado.png" alt="mdo" width="32" height="32" class="rounded-circle">
                        </a>
                        @*añadir foto de perfil a bbdd*@
                        <ul class="dropdown-menu text-small">
                            <li><a class="dropdown-item" asp-controller="Usuario" asp-action="PerfilUsuarioView">&#9881 Perfil</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-controller="Usuario" asp-action="CerrarSesion">&#10132; Cerrar sesión</a></li>
                        </ul>
                    </div>
                </div>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a asp-controller="Home" asp-action="SobreNosotros" class="nav-link px-2 link-dark">@Accessor.HttpContext.Session.GetString("NombreEmail")</a></li>
                </ul>
            }
        </div>
    </div>
</header>
