@{
    ViewData["Title"] = "Colabora";
}
<main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Afiliado</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">6€<small class="text-muted fw-light">/mes</small></h1>
                    <p>Nuestros afiliados colaboran con una cuota mensual de 6 euros.</p>
                    <p>Con esta pequeña cuota puedes cubrir los gastos de alimentación y arena de un peludito durante una semana.</p>
                    <button id="abrirTercerModal" type="button" class="w-100 btn btn-lg btn-outline-secondary">Hacerme afiliado</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Socio</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">12€<small class="text-muted fw-light">/mes</small></h1>
                    <p>Nuestros socios colaboran con una cantidad mensual de 12 euros.</p>
                    <p>Ayudándonos de esta manera vacunamos en tu nombre a uno de nuestros gatitos durante todo un año.</p>
                    <button id="abrirSegundoModal" class="w-100 btn btn-lg btn-secondary">Hacerme socio</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-info">
                <div class="card-header py-3 text-bg-primary border-info">
                    <h4 class="my-0 fw-normal">Voluntariado</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">¡Tu amor!</h1>
                    <p>
                        Si te gustan mucho los gatos y tienes tiempo libre, nos encantará que nos ayudes!
                        Michi Refugio cuenta con un grupo de voluntarios comprometidos con la protección de los gatos y te necesitamos.
                    </p>
                    <p>
                    </p>
                    <button id="abrirModal" class="w-100 btn btn-lg btn-secondary">Contacta con nosotros</button>
                </div>
            </div>
        </div>
    </div>
    <h2 class="display-6 text-center mb-4">¿Te gustaría ayudarnos?</h2>
    <p>
        En Michi Refugio intentamos atender al máximo numero de gatos posible pero tenemos ciertas limitaciones por motivos económicos.
        Como comprenderás, es muy frustrante no poder rescatar, acoger o llevar al veterinario a algunos de los gatitos que recibimos a través de los avisos y por eso hemos preparado diferentes programas de colaboración para que todos los amantes de los gatos puedan ayudar independientemente de su situación económica y así mejorar la calidad de vida de muchos animales que no tienen la suerte de tener un hogar.
    </p>
    <h2 class="display-6 text-center mb-4">¡Muchas gracias por tu ayuda y colaboración!</h2>
</main>

<div id="modal" class="modal">
    <div class="contenido-modal">
        <span class="cerrarModal">&times;</span>
        <h2>¿Quieres saber más?</h2>
        <p>Háblanos por whatsapp: <b>648 097 811</b></p>
        <p>Envíanos un email a <b>michirefugio@gmail.com</b><p>
        <p>(Te responderemos en la mayor brevedad posible).</p>
        <p><b>¡Muchas gracias! Ayudándonos te unes a la lucha para que todos los gatitos tengan una casita.</b></p>
    </div>
</div>

<div id="segundoModal" class="modal">
    <div class="contenido-modal">
        <span class="cerrarModal">&times;</span>
        <h2>Cuota de socio</h2>
        <p>Si deseas cumplir con la cuota de socio puedes hacerlo a través de una transferencia bancaria (puntual o programada) de 12€ al siguiente número de cuenta: <b>ES3502419191931039597313</b></p>
        <p>Datos bancarios: Banco ABANCA | Beneficiario: MICHI REFUGIO </p>
        <p>Si lo prefieres, también puedes enviarnos un bizum al siguiente número de teléfono: 684097811</p>
        <p>Para más información, por favor contacta con nosotros a través del email <b>michirefugio@gmail.com</b></p>
        <p>¡Muchas gracias por tu colaboración!</p>
    </div>  
</div>

<div id="tercerModal" class="modal">
    <div class="contenido-modal">
        <span class="cerrarModal">&times;</span>
        <h2>Cuota de afiliado</h2>
        <p>Si deseas cumplir con la cuota de socio puedes hacerlo a través de una transferencia bancaria (puntual o programada) de 6€ al siguiente número de cuenta: <b>ES3502419191931039597313</b></p>
        <p>Datos bancarios: Banco ABANCA | Beneficiario: MICHI REFUGIO </p>
        <p>Si lo prefieres, también puedes enviarnos un bizum al siguiente número de teléfono: 684097811</p>
        <p>Para más información, por favor contacta con nosotros a través del email <b>michirefugio@gmail.com</b></p>
        <p>¡Muchas gracias por tu colaboración!</p>
    </div>
</div>



