@{
    ViewData["Title"] = "Sobre nosotros";
}
<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">Nosotros</h1>
                <p class="lead text-muted mb-0">
                    Michi Refugio es un hogar temporal para los gatitos que hemos encontrado y que se encuentran sin una familia hasta el momento.
                    ¡Enamórate de uno de nuestros michis y dale todo el amor que se merece! (Tú también recibirás todo el amor del mundo en recompensa).
                </p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="~/img/sobrenosotros/michisobrenosotros.png" alt="" class="img-fluid"></div>
        </div>
    </div>
</div>
<div class="bg-white py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1">
                <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Ubicación</h2>
                <p class="font-italic text-muted mb-4">Nos encontramos en la Calle Luna Plateada, número 14. No dudes en venir a visitarnos si así lo deseas.</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3129.1829449965476!2d-0.5267815846658545!3d38.344747529659706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd623677c9f815d5%3A0xf589fe543971d51a!2sPlaza%20de%20la%20Luna%2C%20Alicante%20(Alacant)%2C%20Alicante!5e0!3m2!1ses!2ses!4v1678985601858!5m2!1ses!2ses" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="~/img/sobrenosotros/ubi.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        </div>
    </div>
</div>
<div class="bg-white py-5">
    <div class="container py-5">
        <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Nuestro equipo</h2>
                <p class="font-italic text-muted">♡ No podríamos haberlo conseguido sin ellos ♡</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="~/img/sobrenosotros/lili.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Lili Echuaca</h5>
                    <span class="small text-uppercase text-muted">Programadora</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="/img/sobrenosotros/cris.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Cris Carbonell</h5>
                    <span class="small text-uppercase text-muted">Aguantadora de pesadas</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="~/img/sobrenosotros/angel.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Ángel Sánchez</h5>
                    <span class="small text-uppercase text-muted">Creador de calculadoras</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>