@model CapaSOPORTE.InicioSesionModel
@{
    ViewData["Title"] = "Iniciar sesión";
}
<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <img src="https://img.freepik.com/premium-vector/continuous-line-drawing-cute-cat-cat-one-line-drawing-minimalist-design_266639-2686.jpg?w=2000" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>Iniciar sesión</h3>
                        </div>
                        @using (Html.BeginForm("IniciarSesion", "Usuario", FormMethod.Post))
                        {
                                <div class="form-group first">
                                    @Html.TextBoxFor(modelo => modelo.email, new {@class = "form-control", @id="floatingInput", @placeholder="Email", @style="margin:10px 0"})
                                    @Html.ValidationMessageFor(modelo => modelo.email)
                                </div>
                                <div class="form-group last mb-4">
                                @Html.PasswordFor(modelo => modelo.contraseña, new {@class = "form-control", @id="floatingInput", @placeholder="Contraseña", @style="margin:10px 0"})
                                @Html.ValidationMessageFor(modelo => modelo.contraseña)
                                </div>
                                <input type="submit" value="Entrar" class="btn btn-block btn-secondary">
                        }
                        <div class="text-center w-100">
                            <p class="text-muted font-weight-bold">¿No tienes cuenta todavía? <a asp-controller="Usuario" asp-action="RegistroView" class="text-secondary ml-2"> ¡Regístrate!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>