@{
    ViewData["Title"] = "Michi Refugio";
}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mr-auto">
                <h3 class="mb-3">Sombra</h3>
                <img class="foto_paginasombra" src="~/img/sombra/sombriprincipal.jpg" alt="sombra salvaje debería aparecer" />
                <p>Sombra es una gatita de 2 años que encontramos en un contenedor junto a su hermanita Kuma. Las dos están a salvo con nosotros, pero ambas buscan un lugar donde poder jugar y dar todo el amor que tienen dentro.</p>
                <p>Es una gatita mega cariñosa, le encanta jugar con todos y saltar por todas partes. ¡Tiene mucha energía!</p>
                <p>Está completamente sana, desparasitada y esterilizada.</p>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <h3 class="heading">¿Quieres adoptarla?</h3>
                    <form class="mb-5" method="post" id="contactForm" name="contactForm">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="name" class="col-form-label">Nombre</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Tu nombre">
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="name" class="col-form-label">Apellido</label>
                                <input type="text" class="form-control" name="organization" id="organization" placeholder="Tu apellido">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="email" class="col-form-label">Email</label>
                                <input type="text" class="form-control" name="email" id="email" placeholder="Tu email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="message" class="col-form-label">¡Cuéntanos un poco sobre ti!</label>
                                <textarea class="form-control" name="message" id="message" cols="30" rows="7" placeholder="¡Te responderemos lo antes posible! Meowchas gracias ♡"></textarea>
                            </div>
                        </div>
                        </>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" value="Enviar" class="btn btn-block btn-secondary rounded-0 py-2 px-4">
                                <span class="submitting"></span>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>