@{
    ViewData["Title"] = "Michi Refugio";
}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mr-auto">
                <h3 class="mb-3">Kuma</h3>
                <img class="foto_paginakuma" src="~/img/michis/kumaprincipal.jpg" alt="kuma salvaje debería aparecer" />
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae sequi, ipsa hic alias officia facilis eveniet, neque laborum cumque maxime soluta. Neque atque necessitatibus ipsam sequi soluta magni, iste vero fuga inventore, explicabo totam quis quia nemo possimus cupiditate doloribus?</p>
                <p>Quasi optio numquam pariatur amet laudantium, dicta ullam obcaecati nihil eveniet et aperiam beatae illum vitae in asperiores, a ex. Voluptates accusantium, beatae dolorem natus delectus nostrum, iusto nemo optio quas eum, quis a in reprehenderit totam, sequi distinctio impedit.</p>
                <p>Dolor aliquid, commodi vitae dolorum veniam amet error! Nemo nam quibusdam delectus dolore eveniet officia harum eum sit magnam possimus. Eum optio dolores repellat ea impedit, in unde, rem ipsam rerum autem iusto vero facilis blanditiis explicabo sapiente consequatur provident? <a href="#"><span class="__cf_email__" data-cfemail="f990979f96b994808e9c9b8a908d9cd79a9694">[email&#160;protected]</span></a></p>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <h3 class="heading">¿Quieres adoptarlo?</h3>
                    <form class="mb-5" method="post" id="contactForm" name="contactForm">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="name" class="col-form-label">Nombre</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Tu nombre">
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="name" class="col-form-label">Apellido</label>
                                <input type="text" class="form-control" name="organization" id="organization" placeholder="Tu apellido">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="email" class="col-form-label">Email</label>
                                <input type="text" class="form-control" name="email" id="email" placeholder="Tu email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="message" class="col-form-label">¡Cuéntanos un poco sobre ti!</label>
                                <textarea class="form-control" name="message" id="message" cols="30" rows="7"></textarea>
                            </div>
                        </div>
                        </>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" value="Enviar" class="btn btn-block btn-secondary rounded-0 py-2 px-4">
                                <span class="submitting"></span>
                            </div>
                        </div>
                    </form>
                    <div id="form-message-warning mt-4"></div>
                    <div id="form-message-success">
                        ¡Te responderemos lo antes posible! Meowchas gracias ♡
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>