html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
    font-family: 'Quicksand', sans-serif;
}

h2 {
    font-family: 'Oooh Baby', cursive;
    text-shadow: 0em 0.1em 0.1em grey;
    margin-top: 5px;
}

.logo {
}

.gatos1, .gatos2 {
    margin-top: 50px;
    text-align:center;
}

.header2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.foto_paginasanson {
    width:300px;
    border-radius:50%;
    box-shadow:5px 2px lightgray;
}

.foto_paginaonyx {
    width: 300px;
    border-radius: 50%;
    box-shadow: 5px 2px lightgray;
}

.foto_paginacatra {
    width: 300px;
    border-radius: 50%;
    box-shadow: 5px 2px lightgray;
}

.foto_paginakuma {
    width: 300px;
    border-radius: 50%;
    box-shadow: 5px 2px lightgray;
}

.foto_paginasombra {
    width: 300px;
    border-radius: 50%;
    box-shadow: 5px 2px lightgray;
}

.foto_paginatupu {
    width: 300px;
    border-radius: 50%;
    box-shadow: 5px 2px lightgray;
}




.michiregistro {
    width: 450px;
}

.h1registro {
    text-align:center;
}