html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
    font-family: 'Quicksand', sans-serif;
}

h2 {
    font-family: 'Oooh Baby', cursive;
    text-shadow: 0em 0.1em 0.1em grey;
    margin-top: 5px;
}

.logo {
}

.card-body1 {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background-image: url('https://static.vecteezy.com/system/resources/previews/012/105/085/original/woman-with-cat-one-line-art-drawing-vector.jpg');
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: right;
}

.card-body2 {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background-image: url('https://i.pinimg.com/736x/f4/9d/99/f49d99083e0e6c9098a68d9d0779f959.jpg');
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: right;
}

.gatos1, .gatos2 {
    margin-top: 50px;
    text-align:center;
}

.header2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.fotoFicha {
    width: 300px;
    border-radius: 3%;
    box-shadow: 5px 2px lightgray;
    margin-bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.contenido-modal {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 60%;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.5s;
    text-align:center;
}

.michiregistro {
    width: 450px;
}

.michiperfil {
    width:300px;
}

.h1registro {
    text-align:center;
}

.img-account-profile {
    height: 10rem;
}

.rounded-circle {
    border-radius: 50% !important;
}

.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

.card .card-header {
     font-weight: 500;
}

.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.view {
    color:gray;
}

.edit {
    color: lightskyblue;
}

.delete {
    color: lightsalmon;
}

.view, .edit, .delete {
    text-decoration:none;
}
